src/main/mule/csvfile-to database.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<file:config name="File_Config3" doc:name="File Config" doc:id="a3af797a-6abd-4ef2-bc55-72c758c1d8b1" >
		<file:connection workingDir="C:\Users\Wendifraw\Desktop\B14 file" />
	</file:config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="ecb81f7d-f0d6-4be1-bf9e-1571dc84b824" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="root" database="users" />
	</db:config>
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="1ca3449f-6154-4da1-a9e4-a57fd7e37113" >
		<salesforce:cached-basic-connection username="wendifraw15@gmail.com" password="Ethiopia@11" securityToken="gxfcvABVKmBZoR4OO4hcByA1" />
	</salesforce:sfdc-config>
	<flow name="csvfile-to_databaseFlow" doc:id="3e2295db-c11f-4245-ad93-7d6b11a09c0c" >
		<scheduler doc:name="Scheduler" doc:id="ed413314-af1d-4909-89e3-23f5a1dbe58c" >
			<scheduling-strategy >
				<fixed-frequency frequency="1" timeUnit="DAYS"/>
			</scheduling-strategy>
		</scheduler>
		<file:read doc:name="Read" doc:id="154e3f6c-b4c0-426c-b1da-c9e7a0ae0b19" config-ref="File_Config3" path="C:\Users\Wendifraw\Desktop\B14 file\Read\140file.csv.xlsx"/>
		<ee:transform doc:name="Transform Message" doc:id="b361592c-2c61-46ab-af38-c54945a73d72" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<batch:job jobName="csvfile-to_databaseBatch_Job" doc:id="85335ad5-9e3b-41b5-b12b-1add57794b66" >
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="f965fb62-3722-47d5-a261-9534b63be5c8" >
					<ee:transform doc:name="Transform Message" doc:id="13864b0f-f541-41a0-ae38-58370e586d97" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	id: payload.id,
	first_name: payload.first_name,
	last_name: payload.last_name,
	email: payload.email
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<batch:aggregator doc:name="Batch Aggregator" doc:id="963b85bc-71a2-4d19-99b5-db9f98b20a11" size="10">
						<db:bulk-insert doc:name="Bulk insert" doc:id="1aae0b39-6475-4787-a553-28f7eb8776b4" config-ref="Database_Config">
							<db:sql >insert into users (id,first_name,last_name,last_name,email)
values(:id,:first_name,:,last_name,:email)</db:sql>
						</db:bulk-insert>
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
		</batch:job>
		<logger level="INFO" doc:name="Logger" doc:id="6a06f16b-0dd5-48da-8b1a-47caa67e2152" />
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="4e077049-f583-4319-85d7-e06bcc857874" >
				<ee:transform doc:name="Transform Message" doc:id="80c38494-f710-4fe6-8671-50b9df2c9f73" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "sql syntax error"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
